<% flash.each do |key, message|%>
<div class='container'>
    <div class='row sign-up-form'>
        <div class='col s12 m12 l12'>
            <div class='card-panel green accent-1' id='fade-out-target'>
                <span class='white-text'>
                    <%= message %>
                </span>
            </div>
        </div>
    </div>
</div>
<% end %>
<div class='container'>
    <div class='row center sign-up-form'>
        <div class='col s12 m12 l12'>
            <div class='card-panel'>
                <h3 class='header'>
                    <%= @student.new_record? ? "Sign up!" : "Edit your profile"%>
                </h3>
                <div class='row'>
                    <%= form_for( @student , html: {class: 'col s12'}) do |f| %>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.text_field :name, placeholder: 'Enter your full name', autofocus: true %>
                            <%= f.label :name, class: "active" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.email_field :email, placeholder: 'Enter your email address', autofocus: true %>
                            <%= f.label :email, class: "active" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.password_field :password, placeholder: 'Enter your password', autofocus: true %>
                            <%= f.label :password, class: "active" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.password_field :password_confirmation, placeholder: 'Confirm your password', autofocus: true %>
                            <%= f.label :password_confirmation, class: "active" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <%= f.button(@student.new_record? ? '<i class="material-icons left">arrow_forward</i>Sign Up'.html_safe : '<i class="material-icons left">arrow_forward</i>Edit Profile'.html_safe, class: "btn waves-effect waves-light right white-text")%>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>