<% flash.each do |key, message|%>
<div class='container'>
    <div class='row sign-up-form'>
        <div class='col s12 m12 l12'>
            <div class='card-panel red lighten-2' id='fade-out-target'>
                <span class='white-text'>
                    <%= message %>
                </span>
            </div>
        </div>
    </div>
</div>
<% end %>
<main class="container">
    <div class='row'>
        <div class='col s12'>
            <h1 class='center-align'>Students Directory</h1>
        </div>
    </div>

    <div class="row">
        <% @students.each do |student| %>
        <div class="col s12 m6 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">
                        Name: <%= student.name %>
                    </span>
                    <p>
                        Email: <%= student.email %>
                    </p>
                    <p>
                        Course Enrollments: None
                    </p>
                </div>
                <div class="card-action">
                    <%= link_to  "View Profile", student_path(student) %>
                    <% if logged_in? and current_user.admin? %>
                    <%= link_to "Delete Student", student_path(student), method: :delete,
                        data: { confirm: "Are you sure you want to delete this student" } %>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</main>