<!DOCTYPE html>
<html>

<head>
    <title>TechClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render 'layouts/navigation' %>

    <main class="">
        <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
</body>

</html>