<!DOCTYPE html>
<html>

<head>
    <title>TechApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= link_to  "Home", root_path %>
    <%= link_to  "About", about_path %>
    <%= link_to  "New courses", courses_new_path %>
    <%= yield %>
</body>

</html>